@using GbrSchedulero
@model dynamic

@{
    ViewData["Title"] = "Create Flight";
}

<h1>Create Flight</h1>
<hr />
@using (Html.BeginForm("CreateFlight", "Flights", FormMethod.Post))
{
    <div class="row">
        <div class="col-md">
            <div>Flight Number</div>
            @Html.TextBox("flightNumber")
        </div>
        <div class="col-md">
            @Html.Editor("departDate", "DateTime")
        </div>
        <div class="col-md">
            @Html.Editor("arriveDate", "DateTime")
        </div>
    </div>
    <div class="row">
        <table style="table-layout: fixed; width: 100%;">
            <thead>
                <tr>
                    <th />
                    <th>Aircraft</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Aircraft ac in Model.Aircrafts)
                {
                    <tr>
                        <td>
                            @Html.RadioButton("aircraftId", ac.AircraftID)
                        </td>
                        <td>
                            @ac.Registration
                        </td>
                        <td>
                            @ac.AcType
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md">
            <table style="table-layout: fixed; width: 100%;">
                <thead>
                    <tr>
                        <th />
                        <th>
                            Origin
                        </th>
                    </tr>
                </thead>
                @foreach (Airport plan in Model.Airports)
                {
                    <tr>
                        <td>
                            @Html.RadioButton("originSelection", plan.AirportId)
                        </td>
                        <td>
                            @plan.AirportName
                        </td>
                    </tr>
                }
            </table>
            <input type="submit" value="Submit Form" />
            <a asp-action="Index">Back to List</a>
        </div>
        <div class="col-md">
            <table style="table-layout: fixed; width: 100%;">
                <thead>
                    <tr>
                        <th />
                        <th>
                            Destination
                        </th>
                    </tr>
                </thead>
                @foreach (Airport plan in Model.Airports)
                {
                    <tr>
                        <td>
                            @Html.RadioButton("destinationSelection", plan.AirportId)
                        </td>
                        <td>
                            @plan.AirportName
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
