@using GbrSchedulero
@model Crewmember

@{
    ViewData["Title"] = "Details";
}

<h1>Crewmember Details</h1>
<hr />
<div>
    @if (Model.Assignments().Count() == 0)
    {
        <h2>No Current Assignments</h2>
        <hr />
    }
    else
    {
        <h2>Current Assignments</h2>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Flight
                    </th>
                    <th>
                        Position
                    </th>
                    <th>
                        Departs
                    </th>
                    <th>
                        Arrives
                    </th>
                    <th>
                        Duty Hours
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (FlightCrewAssignment assignment in Model.Assignments())
                {
                    <tr>
                        <td>
                            @assignment.Flight.Plan.FlightNumber
                        </td>
                        <td>
                            @assignment.Qualification.Station.ToString()
                        </td>
                        <td>
                            @assignment.Flight.Plan.DepartureTime
                        </td>
                        <td>
                            @assignment.Flight.Plan.ArrivalTime
                        </td>
                        <td>
                            @assignment.Flight.Plan.GetTotalTimeEnroute().ToString(@"hh\:mm\:ss")
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Qualifications)
        </dt>
        <dd class="col-sm-10">
            @foreach (var qual in Model.Qualifications)
            {
                string qualText = qual.ToString();
                @Html.DisplayFor(m => qualText)
                @Html.Raw("<br/>")
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CrewmemberID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
